@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
/*--------------------------------------------------------------------
Global
---------------------------------------------------------------------*/
$text-color: #4d5156;
$light-blue: #00c6ff;
$dark-blue: #0072ff;
$linear-gradient: linear-gradient($light-blue, $dark-blue);

@mixin fonts($size, $weight, $color) {
    font-size: $size;
    font-weight: $weight;
    color: $color;
}

@mixin bg-img {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

@mixin transition {
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

body {
    font-family: 'Poppins', sans-serif;
    @include fonts(16px, 400, $text-color);
    background: #fff;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 8px;
}

::-webkit-scrollbar-thumb {
    background: gray;
    border-radius: 8px;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 28px;
}

h4 {
    font-size: 22px;
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
figure {
    margin: 0;
}

small {
    font-size: 12px;
}

a,
a:hover {
    color: $dark-blue;
    text-decoration: none;
}

i,
svg {
    display: inline-block;
    pointer-events: none;
}

img {
    max-width: 100%;
}

ul,
ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

iframe {
    width: 100%;
}

figure {
    position: relative;

    img {
        display: block;
        width: 100%;
        @include transition;
    }
}

.btn {
    font-family: 'Poppins', sans-serif;
    @include transition;
}

.btn:focus,
.navbar-toggler:focus,
.form-control:focus,
.accordion-button:focus {
    box-shadow: none;
}

.card-title {
    @include fonts(18px, 600, $text-color);
    margin: 0;
}

.pagination {
    .page-link {
        color: $dark-blue;
        @include transition;
    }

    .page-link:hover,
    .page-link.active {
        color: #fff;
        background: $dark-blue;
    }
}

.accordion-item {
    border: 1px solid $dark-blue;
}

.accordion-item:not(:last-child) {
    margin-bottom: 16px;
}

.accordion-button {
    font-weight: 600;
    color: $dark-blue !important;
    border: none;
    background: transparent;
}

.accordion-button:not(.collapsed) {
    background: transparent;
}

.accordion-button:not(.collapsed)::after {
    background-image: url(../css/chevron-down.svg);
}

.accordion-button::after {
    background-image: url(../css/chevron-down.svg);
}

.accordion-body {
    padding-top: 0;
}

/*--------------------------------------------------------------------
Preloader
---------------------------------------------------------------------*/
#preloader {
    background: #fff;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
}

.loader-wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loader {
    width: 120px;
    height: 120px;
    margin: 30px auto 0;
    position: relative;
    animation: rotate 3s ease-out infinite;
}

.loader div {
    background-color: $dark-blue;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    transform-origin: center;
    transform: translate(-50%, -50%);
    position: absolute;
    animation: scale 2s ease-in infinite;
}

.loader div:nth-child(1) {
    top: 0%;
    left: 50%;
    animation-delay: 0;
}

.loader div:nth-child(2) {
    top: 9%;
    left: 78%;
    animation-delay: 0.4s;
}

.loader div:nth-child(3) {
    top: 30%;
    left: 96%;
    animation-delay: 0.8s;
}

.loader div:nth-child(4) {
    top: 58%;
    left: 100%;
    animation-delay: 1.2s;
}

.loader div:nth-child(5) {
    top: 84%;
    left: 88%;
    animation-delay: 1.6s;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    65% {
        transform: rotate(180deg);
    }

    95%,
    100% {
        transform: rotate(360deg);
    }
}

@keyframes scale {

    0%,
    60%,
    100% {
        opacity: 1;
        transform: scale(1) translate(-50%, -50%);
    }

    30% {
        border-radius: 10%;
        opacity: 0.5;
        transform: scale(1.5) translate(-50%, -50%);
    }
}

/*--------------------------------------------------------------------
Scroll Up
---------------------------------------------------------------------*/
#scrollUp {
    color: #fff;
    line-height: 30px;
    padding: 0;
    border-radius: 5px 5px 0 0;
    background: $dark-blue;
    height: 30px;
    margin-bottom: 0;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index: 100 !important;
}

#scrollUp:hover {
    height: 50px;
}

/*--------------------------------------------------------------------
Header
---------------------------------------------------------------------*/
header {
    padding: 100px 0;
}

.form-wrapper {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
    background: #fff;

    .title {
        @include fonts(23px, 600, white);
        text-align: center;
        text-transform: capitalize;
        letter-spacing: 0.5px;
        padding: 16px 10px;
        margin: 0 -10px;
        background: $linear-gradient;
        position: relative;
    }

    .title:before,
    .title:after {
        content: '';
        position: absolute;
        left: 0;
        top: 100%;
        width: 10px;
        height: 10px;
        background: linear-gradient(45deg, transparent 49%, $dark-blue 50%);
    }

    .title:after {
        transform: rotateY(180deg);
        left: auto;
        right: 0;
    }
}

.main-form {
    padding: 30px 16px 20px;

    .input-group {
        margin-bottom: 16px;
    }

    .input-group-text {
        color: $text-color;
        border-radius: 20px;
        background: transparent;
    }

    .form-control {
        border-radius: 20px;
        background: transparent;
    }

    .form-control::placeholder {
        @include fonts(14px, 400, $text-color);
        text-transform: capitalize;
    }

    .btn {
        @include fonts(16px, 500, white);
        padding: 8px 24px;
        width: 100%;
        display: block;
        background: $linear-gradient;
        border: none;
    }
}

.user-signup {
    @include fonts(15px, 400, white);
    text-align: center;
    padding: 10px;
    background: $linear-gradient;
    border-radius: 0 0 10px 10px;
    display: block;

    a {
        color: #fff;
        @include transition();
    }

    a:hover {
        text-decoration: underline;
    }
}

@media (max-width: 767.98px) {
    header {
        padding: 50px 0;
    }
}